header {
   width: 100vw;
   min-height: 12vh;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px 0;
   border: 1px solid #e2e2e2;
   background-color: #e6f0ff;
}