section.hero {
   width: 100%;
   min-height: 40vh;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: start;
   flex-direction: column;
   user-select: none;
   padding: 40px 0;
}

.hero-image {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
   overflow: hidden;
}

.hero-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.hero-section-contents {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 20px;
}

@media screen and (max-width: 900px) {
   .hero-section-contents {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: column;
      gap: 20px;
   }
}

.hero .tag {
   font-size: 1rem;
   font-weight: 600;
}
.hero .tag-msg {
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
   padding: 10px 20px;
}

@media screen and (max-width: 900px) {
   .hero {
      width: 100%;
      height: 60vh;
   }
   .hero-section-headline { font-size: 2rem; }
   .hero-sub-headline { font-size: 1rem; }
   .ct-actions {
      width: 100%;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .hero .tag {
      font-size: 0.8rem;
   }
}

.hero .tag {
   display: inline-block;
   border-radius: 40px;
   overflow: hidden;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.233);
}
