footer.footer {
   width: 100% !important;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem 1rem;
   background-color: #fafafa;
   border-top: 1px solid #eaeaea;
}

.footer .footer-wrapper {
   width: 100%;
   max-width: 1200px;
   padding: 0px 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer .footer-link-sections {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 60px;
}

.footer .footer-link-sections .footer-link-section {
   width: fit-content;
   display: flex;
   flex-direction: column;
}

@media screen and (max-width: 900px) {
   .footer .footer-link-sections {
      display: flex;
      flex-direction: column;
      gap: 30px;
   }

   .footer .footer-link-sections .footer-link-section {
      width: 100%;
      display: flex;
      flex-direction: column;
   }
}

.footer .footer-link-instagram {
   background: linear-gradient(to bottom, #ff0062, #ff1d99);
   color: transparent;
   background-clip: text;
}

.footer-link-box {
   width: fit-content;
   position: relative;
   margin-bottom: 8px;
}

.footer-link-box::before {
   content: '';
   position: absolute;
   bottom: -3px;
   left: 0;
   width: 100%;
   height: 1px;
   opacity: 0;
   background: black;
   transition: all 0.2s;
}
.footer-link-box.instagram::before {
   background: linear-gradient(to bottom, #ff0062, #ff1d99);
}
.footer-link-box:hover::before {
   opacity: 1;
}

.footer-copy {
   color: #999;
   margin-top: 0.5rem;
}