section.services {
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 40px 0;
   background-color: #f5f5f5;
}

.service-icon {
   background-color: #26569d42;
   color: #26559d;
   border-radius: 100%;
   padding: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
}