section {
   padding: 45px 25px;
   display: flex;
   align-items: center;
   justify-content: center;
}

section[aria-label="Notifications alt+T"] {
   padding: 0;
   display: block;
}

.page-container {
   width: 100%;
   max-width: 1200px;
   height: 100%;
}

.hero-section {
   width: 100vw;
   min-height: 100vh;
   height: fit-content;
   background-image: url('/assets/hero-section-bg.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.hero-section > .hero {
   width: 100%;
   min-height: 100vh;
   height: fit-content;
   color: white;
}

header.header {
   width: 100vw;
   min-height: 10vh;
   height: fit-content;
   max-height: 18vh;
   display: flex;
   align-items: center;
   justify-content: center;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 2;
}

.header-links-mobile {
   position: fixed;
   top: 0;
   left: 0;
   width: 80vw;
   height: 100dvh;
   padding: 25px;
   background-color: #cecece;
   box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.098);
}


.trust-bar { width: 100vw; }

.image-fit {
   width: 100%;
   object-fit: contain;
   object-position: center;
   -webkit-user-drag: none;
}

section.image-section { padding: 0; }
section.image-section > .image-section-cover {
   padding: 45px 25px;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.services-list-style-1 {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
}

.services-list-style-1 > .service-list-item {
   width: 100%;
   max-width: 570px;
   height: 35vh;
   padding: 5px;
   cursor: pointer;
   border: 1px solid #cacaca;
   outline: 1px solid #00000000;
   border-radius: 25px;
   background-color: white;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: end;
   cursor: pointer;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.098);
}

.services-list-style-1 > .service-list-item:hover {
   scale: 1.1;
   transform: translateY(-5px);
   border-color: var(--accent-color);
   outline-color: var(--accent-color);
}

.services-list-style-2 {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
}

.services-list-style-2 > .service-list-item {
   width: 100%;
   max-width: 570px;
   position: relative;
   min-height: 35vh;
   height: fit-content;
   padding: 15px;
   cursor: pointer;
   border: 1px solid #cacaca;
   outline: 1px solid #00000000;
   border-radius: 25px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.098);
}

.services-list-style-2 > .service-list-item:hover {
   border-color: var(--accent-color);
   outline-color: var(--accent-color);
}

.services-list-style-2 > .service-list-item .service-list-item-style-2-image {
   width: 100%;
   height: 20vh;
   border-radius: 15px;
   overflow: hidden;
}

.services-list-style-2 > .service-list-item .service-list-item-style-2-image > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.services-list-style-2 > .service-list-item .service-arrow-bottom {
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 15px;
}

.footer {
   background-color: #cacaca;
   padding: 40px 25px;
}